*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: fixed;
  right: 0;
  top: 10%;
  border: 1px solid black;
  border-radius: 50%;
}

.cart {
  width: 30vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(100, 100, 100);
  border: 1px solid black;
  transform: translateX(100%);
  transition: all 0.3s linear;
}

.cart.open {
  transform: translateX(0);
}

.btn-close-cart {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 2rem;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(10px);
}
